<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p><b> ALMACÉN SALUDABLE</b></p>
<h1>Mamá Coca</h1>
<p> <b>En nuestra tienda podrás encontrar variedad de productos sueltos y saludables,
        además de
        productos aptos
        para
        el consumo de celíacos, diabéticos y veganos.</b> </p>